.App {
  text-align: center;
}
html, body {
  background: url('./images/showcase.jpeg') fixed center/cover;
}
.contactpage{
  background: url('./images/showcase3.jpeg') fixed center/cover;
}
#home {
  display: block;
  margin: 50px 0;
  width: 100%;
  text-align: right;
  box-sizing: content-box;
}

#campuses {
  display: block;
  margin: 50px 0;
  width: 100%;
  text-align: right;
  box-sizing: content-box;
}
#students {
  display: block;
  margin: 50px 0;
  width: 100%;
  text-align: right;
  box-sizing: content-box;
}
#contact {
  display: block;
  margin: 50px 0;
  width: 100%;
  text-align: right;
  box-sizing: content-box;
}




/*Navbar*/
#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: #333;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}


#navbar ul li a:hover{
  background: #03cb52;
  border-radius: 5px;
}
/*End of Navbar*/

#mainheader{
  display: flex;
  text-align: center;
  background-color: #fff;
  background-origin: padding-box;
}
.w3-center{
  color: blue;
}
